manifest {
    homePage = 'http://github.com/suzannejin/mod_QuanTest2'
    description = ''
    mainScript = 'quantest2.nf'
}

executor {
    queueSize = 50
}

process {
    executor = 'crg'

    queue = { (task.attempt < 4 ? 'cn-el7' : 
               task.attempt < 7 ? 'long-sl7' : 
               task.attempt < 8 ? 'mem_256' : 
               'mem_512') }
    
    memory = { (2.GB * task.attempt) }
    time = { (2.hour * task.attempt) }

    errorStrategy { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 7
    
    container = 'suzannejin/mod_quantest2:latest'
    scratch = true  // for docker use
}

singularity {
   enabled = true
}

tower {
  accessToken = '57cc4e09eb0909d18d9926731205dfff09a13cc4'
  enabled = true
}

env {
    CACHE_4_TCOFFEE='${TMPDIR:-/tmp}/.tcoffee/cache'
    LOCKDIR_4_TCOFFEE='${TMPDIR:-/tmp}/.tcoffee/lock'
    TMP_4_TCOFFEE='${TMPDIR:-/tmp}/.tcoffee/tmp'
    DUMMY='$(mkdir -p $CACHE_4_TCOFFEE; mkdir -p $LOCKDIR_4_TCOFFEE; mkdir -p $TMP_4_TCOFFEE)'
}
